# Editor configuration, see https://editorconfig.org
root = true

# 共通
[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.json]
insert_final_newline = false

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.yml]
indent_size = 2

[Makefile]
indent_style = tab



# Android
[*.{gradle,java,kt}]
curly_bracket_next_line = false   # idea
indent_brace_style = K&R          # idea
indent_size = 4
max_line_length = 100
spaces_around_brackets = true     # idea
spaces_around_operators = true    # idea
wildcard_import_limit = 1000      # idea

[android/**.xml]
indent_size = 4



# iOS
[ios/**.(h,m,swift)]
curly_bracket_next_line = false   # idea
indent_brace_style = K&R          # idea
indent_size = 4
spaces_around_brackets = true     # idea
spaces_around_operators = true    # idea



# WEB
[*.{js,ts}]
indent_size = 2
quote_type = single
